body{
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 100%;
}


header{
    top:0px;
   display: flex;
    justify-content: space-around;
    background:rgba(0,0,0,0.4);
    height: 64px;
    padding: 0px 8px;
    width: 100%;
    position: fixed;
    z-index: 2;

}
.header-row
{
    background-color:rgba(0,0,0,0.4);
    width: 100%;
    
}
 ul{
    margin-top: 40px;
    display: flex;
    margin-left: 200px;
}
.login{
    list-style: none;
    min-width: 90px;
    height: 74px;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 24px;
    text-decoration: none;
    
}

.btn-signup{
    background-color: #fff;
    
    justify-content: space-around;
    height: 45px;
    margin-top: 15px;
    margin-left: 16px;
    
    border-radius: 10px;
    width: 120px;

}
.btn-signup a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

/* .navbar
{
    font-family:  Nova,helvetica neue,helvetica,arial,sans-serif;
} */

.navbar-dark .navbar-nav .nav-link
{
    color:#fff;
    padding: 0px;
}
.dropdown:hover .dropdown-menu
{
    display:block;
    margin-top:0;
}
.logo{
    display: flex;

}
 
.logo:hover{
    color: #817e7e;
}
.logo >h2{
    font-size: 35px;
    font-weight: 700;
    margin-left: 8px;
    
}
.img-logo{
    margin-top: 16px;
    width: 30px;
    height: 15px;
}
.search{
    margin-top: 4px;
    padding: 0px 20px;
    margin-left: 100px;

    

}
 .icon-search{
    position: absolute;
    /* top: 50%; */
    margin-left: 12px;
    margin-top: 8px;
    z-index: 1;
    color: #212124;

    font-size: 20px;
    
}
.search input{
  width: 400px;
  height: 40px;
  background-color: #e9e8e8;

 
  color:#212124;
  border: none;
  font-size: 15pt;
  float: left;
  margin-top: -2px;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
 

.carousel-caption 
{
    position: absolute;
    color:#fff;
    z-index: 1;
    top:100px;
    

}
.carousel-caption h1{
    font-size: 35px;
    line-height: 56px;
    text-align: center;
    
   
    font-weight: 600;
    display: flex;
    position: absolute;
    margin: 0px 270px;
}
.caption{
    padding: 25px;
    display: block;
    font-size: 30px;
    line-height: 50px;
    font-weight: 700;
    margin: 50px 100px;
    text-align: center;
    

}
.main{
    width: 100%;
    height: auto;
}
.btn-group{
    top: 0;
    left: 0;
    position: relative;
    margin: 0;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    background-color: black;
}
.footer{
    padding: 0 0 ;
    z-index: 1;
  
   
}
.mausac{
    font-size: 15px;
}

.material-icons {
    font-size: 10px;
    padding: 10px;
}

.name-img{
    
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 32px;
    margin-bottom: 50px;
}
.img-form{
    
    width: 100%;
}
.button-style{
    height: 60px;
    width: 200px;
    margin-top: 36px;
    text-align: center;
  
}
.button-style h3{
    font-size: 25px;
    font-weight: 700;
    
}



