body{
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: black;
    padding: 0 100px ;
    box-sizing: border-box;
    z-index: 1;
    
}
nav.brand{
    float: left;
    height: 40px;
    line-height: 40px;
    display: flex;
}
.img-logo {
    width: 30px;
    height: 15px;
    margin-top: 27px;
    
}
nav .brand h2{
    color: #fff;
    font-size:35px;
    margin-top: -38px;
    font-weight: 700;
    margin-top: -30px;
}
.img-sign{
    display: flex;
    
    flex-direction: column;

}
.imgbtx{
    height: 100%;
    width: 100%;
    position: relative;
}

.nav{
    width: 80%;
    margin-top: 10px;
    padding-left: 173px;
}
.main {
    margin: 30px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    height: 40%;
    margin-top: 50px;
    margin-left: 40%;
    
}
.form {
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 25px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
    font-size: 15px;
    margin-top: 70px;
}
.form .heading {
    font-size: 30px;
    font-weight: 700;
}
.form .desc {
    text-align: center;
    color: #636d77;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
}
.form-group {
display: flex;
margin-bottom: 30px;
flex-direction: column;
}
.img-logoform{
    width: 33px;
    height: 17px;
    margin-top: 50%;
    margin-left: 150px;
}
.form-control {
    height: 55px;
    padding: 15px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 20px;
 }
 .form-submit {
    outline: none;
   background-color: blue;
   margin-top: 12px;
   padding: 12px 16px;
   font-weight: 700;
   color: #fff;
   border: none;
   width: 100%;
   font-size: 20px;
   border-radius: 8px;
   cursor: pointer;
}
     
.form-submit:hover {
   background-color: blue;
}
.loginhere{
    text-align: center;
    font-size: 0.9rem;
}

.footer{
    margin-top:-330px;
    font-size: 20px;
    display: flex;
    text-align: center;
    margin-left: 20%;
}
.lag{
   
    position:absolute;
    margin-left: 45px;
}
.ft{
    position:absolute;
    margin-left: 150px;
    margin-top: 8px;
}
