
@media (max-width: 46.1875em){ /*moblie*/
    
    body{
        margin: auto;
        padding: auto;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        height: 30%;
    }
    
    .nav{
        position: fixed;
        width: 93%;
        height: 46px;
        background: black;
        z-index: 1;
    }
    header{
        height: 57px;
    
    }
    .header-row
    {
        background-color:rgba(0,0,0,0.4);
        width: 100%;
        
    }
     ul{
        margin-top: 40px;
        display: flex;
        margin-left: 200px;
    }
    .login{
        display: none;
    }
    
    .btn-signup{
        background-color: #fff;
        
        justify-content: space-around;
        height: 41px;
        margin-top: -93px;
        margin-left: -16px;
        
        border-radius: 10px;
        width: 95px;
    
    }
    .btn-signup a{
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
    
    .navbar-dark .navbar-nav .nav-link
    {
        color:#fff;
        padding: 0px;
    }
    .dropdown:hover .dropdown-menu
    {
        display:block;
        margin-top:0;
    }
    .logo{
        display: flex;
    
    }
     
    .logo:hover{
        color: #817e7e;
    }
    .logo >h2{
        font-size: 30px;
        font-weight: 700;
        margin-left: 8px;
        margin-top: -3px;
        
    }
    .img-logo{
        margin-top: 9px;
        width: 22px;
        height: 12px;
    }
    .search{
        margin-top: 4px;
        padding: 0px 20px;
        margin-left: 100px;
    }
    .icon-search{
        position: absolute;
        margin-left: -90px;
        margin-top: -67px;
        z-index: 1;
        color: white;
        font-size: 20px;   
    }
    .search input{
     display: none;}
     
    
    .carousel-caption 
    {
        position: absolute;
        color:#fff;
        z-index: 1;
        top:100px;
        
    
    }
    .carousel-caption h1{
        font-size: 24px;
        line-height: 22px;
        text-align: center;
        font-weight: 600;
        display: flex;
        position: absolute;
        margin: 0px 55px;
    }
    .caption{
        padding: 25px;
        display: block;
        font-size: 30px;
        line-height: 50px;
        font-weight: 700;
        margin: 50px 100px;
        text-align: center;
    }
    .caption >h3{
        display: none;
    }
    .main{
        width: 100%;
        height: auto;
    }
    .btn-group{
        top: 0;
        left: 0;
        position: relative;
        width: 40px;
        height: 70px;
        box-sizing: border-box;
        background-color: black;
    }
    
    .footer_txt{
        color: white;
        text-decoration: none;
        font-size: 8px;
    }
    .footer_txt1{
        display: none;
    }
    .mausaca{
        display: none;
    }
    .mausac1{
        display: none;
    }
    .name-img{
        
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 32px;
        margin: -68px;
    }
    .img-form{
        height: 663px;
       
    }
    .button-style{
        height: 60px;
        width: 200px;
        margin-top: 36px;
        text-align: center;
        margin-left: -85px;
    }
    .button-style h3{
        font-size:10px;
        font-weight: 700;
    }
    .footer_icon{
       display: none;
    }
}
@media (max-width: 63.9375em) and (min-width: 46.25em) {
    /* tablet */
    .carousel-caption h1{
        font-size: 38px;
        line-height: 32px;
        text-align: center;
        font-weight: 600;
        display: flex;
        position: absolute;
        margin: 0px 200px;
    }
    .footer_icon{
        display: none;
     }
}
