
@media (max-width: 46.1875em){ 
    nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 42px;
        background: rgba(0,0,0,0.4);
        padding: 0 100px ;
        box-sizing: border-box;
        width: 42%;
        margin-top: 0px;
        position:fixed;
        padding-left: 1px;
        z-index: 1;
        
    }
    .img-logo {
        width: 21px;
        height: 15px;
        margin-top: 14px;
    }
    nav .brand h2{
        color: #fff;
        font-size:20px;
        margin-top: 10px;
        font-weight: 700;
        margin-left: 5px;
        
    }
    
    .input_search{
        display: none;
    }
    .icon-search{
        font-size:10px;
        height: 44px;
        margin-top: 10px;
        margin-left: 80px;
    }
}