@media (max-width: 46.1875em){
    .img-sign{
        height: 1000px;
       
    }
    .imgbtn{
        height:100%;
    }
    .form {
        margin-right:12px ;
        display: flex;
        margin-bottom: 15px;
        flex-direction: column;
     
        width: 200px;
        height: auto;
        padding: 10px;
        text-align: center;
        background: #fff;
        border-radius: 10px;
        align-self: center;
        box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
        font-size: 15px;
        margin-top: 150px;
        
    }
    .form .heading {
        font-size: 15px;
        font-weight: 700;
        
    }
    .form .desc {
        text-align: center;
        color: #636d77;
        
        font-weight: lighter;
        line-height: 2.4rem;
        margin-top: 8px;
        font-weight: 300;
    }
    .form-group {
    display: flex;
    margin-bottom: 8px;
    flex-direction: column;
    }
    .img-logoform{
        width: 20px;
        height: 10px;
      
       
    }
    .form-control {
        height: 30px;
        padding: 8px 8px;
        
        font-size: 12px;
     }
     .signBtn{
         font-size: 8px;
     }
     .form-submit {
        outline: none;
      
       margin-top: 8px;
       padding: 8px 12px;
       font-weight: 700;
       color: #fff;
       border: none;
       width: 100%;
       font-size: 15px;
       border-radius: 8px;
       cursor: pointer;
    }
         
    .form-submit:hover {
       background-color: blue;
    }
    .loginhere{
        text-align: center;
        font-size: 12px;
    }
    .data{
        display: none;
        color: #898989;
        font-size:12px;
        text-align: center;
    }
    .checkbox{
        font-size: 15px;
       
    }
    .footer{
        margin-top: -430px;
    font-size: 10px;
    display: flex;
    text-align: center;
    margin-left: -16%;
    }
    .lag{
       
        position:absolute;
    }
    .ft{
        position:absolute;
        margin-left: 100px;
        
    }
}
@media (max-width: 63.9375em) and (min-width: 46.25em) {
    .imgbtn{
        height: 950px;
    }
    .footer{
        margin-top: -140px;
        font-size: 20px;
        margin-left: 36px;
    }
}
    
