@media (max-width: 46.1875em)
{
    #aa{
        margin-left: 130px;
        /* align-items: flex-end; */
    }
    #showcase-add{
        visibility: hidden;
    }
    /* #nameuser{
        margin-left: 10px;
    } */


}

@media (max-width: 63.9375em) and (min-width: 46.25em) {
/* tablet */
}
    

@media (min-width:64em) {

    #email{
        
    }
    #follow{
        margin-left: 60px;
    }
    #following{

    }
    #cover-info{
        height: 200px;
    }
}